on: [push]

name: Code Coverage

jobs:
  grcov:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt install libarchive-dev libb2-dev liblz4-dev libacl1-dev libzstd-dev nettle-dev liblzma-dev libpcap-dev
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: show lcov file ls
        run: ls -al lcov.info
      - uses: codecov/codecov-action@v3 # v4 needs docker volume... seems not compatible with grcov v0.1
        with:
          files: lcov.info
          # disable_search: true
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
          token: ${{ secrets.CODECOV_TOKEN }}
